In [20]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
from sklearn import preprocessing
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_fwf("amazon_cells_labelled.txt")

In [21]:
df.head()

  So there is no way for me to plug it in here in the US unless I go by a converter.\t0
0                     Good case, Excellent value.\t1
1                          Great for the jawbone.\t1
2  Tied to charger for conversations lasting more...
3                               The mic is great.\t1
4  I have to jiggle the plug to get it to line up...

In [22]:
df.columns = ['message']

In [23]:
df.head()

                                             message
0                     Good case, Excellent value.\t1
1                          Great for the jawbone.\t1
2  Tied to charger for conversations lasting more...
3                               The mic is great.\t1
4  I have to jiggle the plug to get it to line up...

In [24]:
keywords = ['\t0','\t1']

for key in keywords:
    df[str(key)] = df.message.str.contains('' + str(key) + '', case=False)

In [25]:
df.head()

                                             message    \t0    \t1
0                     Good case, Excellent value.\t1  False   True
1                          Great for the jawbone.\t1  False   True
2  Tied to charger for conversations lasting more...   True  False
3                               The mic is great.\t1  False   True
4  I have to jiggle the plug to get it to line up...   True  False

In [44]:
le = preprocessing.LabelEncoder()

X = le.fit_transform(df['\t0'])

print(X)

[0 0 1 0 1 1 0 1 1 0 0 1 0 1 0 1 0 0 1 1 0 1 0 1 0 0 1 1 1 1 0 1 1 0 1 0 1
 0 1 0 1 0 1 0 0 1 1 0 1 1 0 0 0 0 0 1 0 0 1 1 0 0 1 1 1 1 0 0 0 1 1 0 0 0
 0 1 0 0 1 0 1 0 1 1 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 1 0 0 1 0 1 0 1 1 0 0
 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 0 1 1 0 0 1 0 1 1 1 1 1 0 1 1 1
 1 1 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 1 0 1 1 0 1 1 0 0 0 0 1 1 1 1 1 0 1 1 0
 1 0 1 1 1 0 0 1 1 0 0 1 1 1 0 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 1 1 0 1 1 0
 1 1 0 0 1 1 1 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0
 0 0 0 1 1 0 1 0 1 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 1 0 1 0 0 0
 0 1 1 1 0 0 0 0 0 0 1 1 1 0 1 0 0 1 1 0 0 1 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0
 0 1 1 1 1 1 0 1 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 0 1
 0 0 1 1 1 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0
 0 1 1 0 0 1 1 0 0 1 1 1 0 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 1 0 1 1 1 1 1 0 0
 0 1 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 1 1 1 0 1 1 1 0 0 1 1 0 0 0 1 1 0 1 0 1
 0 0 0 1 1 1 1 1 0 0 0 0 1 1 0 1 1 0 0 0 1 1 0 1 1 1 0 1 0 1 0 0 0 0 0 0 0
 1 1 0 0 0 0 1 1 0 1 0 0 1 1 1 0 1 0 0 0 1 0 1 1 1 1 0 1 1 1 0 0 0 0 0 1 1
 0 0 0 1 1 1 0 1 1 1 1 0 0 1 1 0 1 0 0 1 1 1 0 1 0 1 1 0 0 1 0 1 1 1 1 0 0
 0 0 1 1 0 0 0 0 1 0 0 1 1 0 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 0 1 0 1 1 1 1 0
 1 0 0 1 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 0 1 0 1 1 1 0 1 0 1 1 1 0 0 0 0 1 0
 1 0 0 1 1 1 0 1 1 1 1 0 0 1 1 1 0 1 0 1 1 1 0 1 0 0 1 1 1 0 1 0 0 1 0 0 0
 1 0 1 0 1 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 1 0 1 0 0 1 0 0 1 1 0 1 0 0 1 0 0 1 1 1 1 1 0 0 1 1 1 0 0 0 0 0
 0 1 1 1 1 1 1 1 1 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 1 0 1 1 0 0 0 1 0 0 0 1
 1 0 0 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0
 0 1 0 1 1 0 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 1 1 0 1 0 1 1 0 1
 0 1 0 0 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 1 0 1 0 0 0 0
 1 0 1 1 1 1 1 1 0 1 1 0 0 0 0 0 1 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0
 0 0 1 1 0 1 1 1 0 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [46]:
positive = 0
negative = 0

positive_count=0
negative_count=0
for i in X:
    if i > positive:
        positive_count = positive_count + 1
    if i == negative:
        negative_count = negative_count + 1 
        
print('There are {} positive comments'.format(positive_count))
print('There are {} negative comments'.format(negative_count))

There are 499 positive comments
There are 500 negative comments